html,
body,
div,
span,
object,
li,
ul,
img iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
em,
img,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
input,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: 100%;
    /* font-family: arial, "微软雅黑", "宋体", "华文细黑", \5B8B\4F53, sans-serif; */
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

li {
    list-style: none;
}

img {
    width: auto;
    height: auto;
    border-width: 0 0 0 0;
}

a {
    text-decoration: none;
}
/* 滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #fff;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}