<!DOCTYPE html>

<html>

<head lang="zh-CN">
    <title>栏目列表-站群管理系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/element.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script>
        /*判断浏览器版本是否过低*/
        function IETester(userAgent) {
            var UA = userAgent || navigator.userAgent;
            if (/msie/i.test(UA)) {
                return UA.match(/msie (\d+\.\d+)/i)[1];
            } else if (~UA.toLowerCase().indexOf('trident') && ~UA.indexOf('rv')) {
                return UA.match(/rv:(\d+\.\d+)/)[1];
            }
            return false;
        }
        //console.log(IETester());//不传参数返回当前IE版本，如果不是IE内核浏览器，返回false
        if (IETester() == 9.0) {
            //window.location.href = 'iepoint/index.html';
        } else if (IETester() == 8.0 || IETester() == 7.0 || IETester() == 6.0 || IETester() == 5.0) {
            window.location.href = 'iepoint/index.html';
        }

        // 动态设置font-size
        (function () {
            var cw = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
            if (cw < 769) {
                document.getElementsByTagName("html")[0].style.fontSize = 20 * (cw / 375) + 'px';
            }
        })();
        //判断是否已登录
        if (!localStorage.getItem("headerName")) { //未登录
            alert('您还未登录，即将跳转到登录页!');
            window.location.href = 'login.html';
        }
    </script>
</head>

<body>
    <script>
        !(function (c, b, d, a) {
            c[a] || (c[a] = {});
            c[a].config = {
                pid: "b1gea23itb@5ad4b345f120f16",
                imgUrl: "https://arms-retcode.aliyuncs.com/r.png?"
            };
            with(b) with(body) with(insertBefore(createElement("script"), firstChild)) setAttribute("crossorigin",
                "", src = d)
        })(window, document, "https://retcode.alicdn.com/retcode/bl.js", "__bl");
    </script>
    <!-- ↑ 启用前端性能监控 ↑ -->
    <div id="column-list" class="public-wap">
        <!-- 页面未加载完时的loading -->
        <div class="loading" :class="{'loading-close':loading}">
            <i class="el-icon-loading"></i>
        </div>
        <!-- header -->
        <div id="header"></div>
        <!-- component -->
        <div class="main">
            <!-- component -->
            <div class="component">
                <!-- 二级菜单 -->
                <div class="second-menu">
                    <ul class="nav-column">
                        <li v-for="item in nav_column_list" :key="item.id" class="float-left" :class="{'nav_column_list_mini':nav_column_list_mini}">
                            <a :href="item.entryUrl">
                                <el-button type="primary" size="mini">{{item.entryName}}</el-button>
                            </a>
                        </li>
                    </ul>
                    <a href="javascript:void(0);" class="float-right question">
                        <i class="el-icon-question"></i>
                        <span>栏目管理常见问题解答</span>
                    </a>
                </div>
                <!-- 表格主体 -->
                <div class="table-container column-container">
                    <!-- crumb -->
                    <div class="crumbs">
                        <ul>
                            <li class="float-left" v-for="item in crumbs" :key="item.id">
                                <a :href="item.url" class="float-left" :class="{'a-active':item.this_page}" v-cloak>{{item.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- 三级菜单 -->
                    <div class="third-menu">
                        <a href="javascript:void(0);">
                            <el-button type="primary" size="mini">添加栏目</el-button>
                        </a>
                    </div>
                    <!-- 表格 -->
                    <div class="table-body carousel_container">
                        <el-table :data="column_list" stripe size="small">
                            <el-table-column prop="uid" label="ID" width="65"></el-table-column>
                            <el-table-column label="显示子类" type="expand" width="100">
                                <div slot-scope="props">
                                    <el-table :data="props.row.leavel2" stripe size="mini" class="second-table">
                                        <el-table-column prop="uid" width="65"></el-table-column>
                                        <el-table-column type="expand" width="100">
                                            <div slot-scope="props">
                                                <el-table :data="props.row.leavel3" stripe size="mini" class="third-table">
                                                    <el-table-column prop="uid" width="65"></el-table-column>
                                                    <el-table-column width="100" disabled="true"></el-table-column>
                                                    <el-table-column prop="column_title"></el-table-column>
                                                    <el-table-column prop="column"></el-table-column>
                                                    <el-table-column prop="state" width=""></el-table-column>
                                                    <el-table-column prop="leavel" width="80"></el-table-column>
                                                    <el-table-column width="60">
                                                        <div slot-scope="scope" class="table-sort-input">
                                                            <el-input type="text" size="mini" @blur="sortBlur(scope.$index, column_list)" :value="scope.row.sort">
                                                        </div>
                                                    </el-table-column>
                                                    <el-table-column width="270">
                                                        <div slot-scope="scope" class="control-btn">
                                                            <el-button size="small">添加子类</el-button>
                                                            <el-button size="small">预览</el-button>
                                                            <el-button size="small">编辑</el-button>
                                                            <el-button @click.native.prevent="deleteRow(scope.$index, column_list)" size="small" class="control-btn-del">删除</el-button>
                                                        </div>
                                                    </el-table-column>
                                                </el-table>
                                            </div>
                                        </el-table-column>
                                        <el-table-column prop="column_title"></el-table-column>
                                        <el-table-column prop="column"></el-table-column>
                                        <el-table-column prop="state" width=""></el-table-column>
                                        <el-table-column prop="leavel" width="80"></el-table-column>
                                        <el-table-column width="60">
                                            <div slot-scope="scope" class="table-sort-input">
                                                <el-input type="text" size="mini" @blur="sortBlur(scope.$index, column_list)" :value="scope.row.sort">
                                            </div>
                                        </el-table-column>
                                        <el-table-column width="270">
                                            <div slot-scope="scope" class="control-btn">
                                                <el-button size="small">添加子类</el-button>
                                                <el-button size="small">预览</el-button>
                                                <el-button size="small">编辑</el-button>
                                                <el-button @click.native.prevent="deleteRow(scope.$index, column_list)" size="small" class="control-btn-del">删除</el-button>
                                            </div>
                                        </el-table-column>
                                    </el-table>
                                </div>
                            </el-table-column>
                            <el-table-column prop="column_title" label="分类名称"></el-table-column>
                            <el-table-column prop="column" label="类别"></el-table-column>
                            <el-table-column prop="state" label="状态" width=""></el-table-column>
                            <el-table-column prop="leavel" label="级别" width="80"></el-table-column>
                            <el-table-column label="排序" width="60">
                                <div slot-scope="scope" class="table-sort-input">
                                    <el-input type="text" size="mini" @blur="sortBlur(scope.$index, column_list)" :value="scope.row.sort">
                                </div>
                            </el-table-column>
                            <el-table-column label="操作" width="270">
                                <div slot-scope="scope" class="control-btn">
                                    <el-button size="small">添加子类</el-button>
                                    <el-button size="small">预览</el-button>
                                    <el-button size="small">编辑</el-button>
                                    <el-button @click.native.prevent="deleteRow(scope.$index, column_list)" size="small" class="control-btn-del">删除</el-button>
                                </div>
                            </el-table-column>
                        </el-table>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div id="footer"></div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/element.min.js"></script>
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/public.js"></script>
<script>
    var app = new Vue({
        el: '#column-list',
        data: {
            //加载页面
            loading: true,
            //面包屑
            crumbs: [{
                    name: '工作台',
                    url: 'index.html',
                    this_page: true
                },
                {
                    name: '栏目列表',
                    url: 'javascript:void(0);',
                    this_page: false
                }
            ],
            //导航栏目
            nav_column_list: [],
            //导航超过11个时缩小导航
            nav_column_list_mini: false,
            //栏目列表
            column_list: [],
            carouselList: [],
        },
        watch: {},
        mounted: function () {
            var that = this;
            //改变首页链接
            that.crumbs[0].url = localStorage.getItem('headerUrl');
            //获取导航栏目列表
            that.nav_column_list = JSON.parse(localStorage.getItem('nav_column_list'));
            //对大于11个时做处理防止显示错乱
            if (JSON.parse(localStorage.getItem('nav_column_list')).length > 11) {
                that.nav_column_list_mini = true;
            }
            //获取栏目列表
            axios({
                method: "get",
                url: "./public/column_list.json",
            }).then(function (response) {
                that.column_list = response.data;
            }).catch(function (error) {
                console.log(error);
            });
        },
        methods: {
            //删除表格行
            deleteRow(index, rows) {
                var that = this;
                that.$confirm('此操作将删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    rows.splice(index, 1);
                    that.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }).catch(function () {
                    that.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            //表格排序
            sortBlur(a, b) {
                console.log(b[a].uid)
            }
        }
    })
</script>

</html>