<!DOCTYPE html>

<html>

<head lang="zh-CN">
    <title>网页生成-站群管理系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/element.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script>
        /*判断浏览器版本是否过低*/
        function IETester(userAgent) {
            var UA = userAgent || navigator.userAgent;
            if (/msie/i.test(UA)) {
                return UA.match(/msie (\d+\.\d+)/i)[1];
            } else if (~UA.toLowerCase().indexOf('trident') && ~UA.indexOf('rv')) {
                return UA.match(/rv:(\d+\.\d+)/)[1];
            }
            return false;
        }
        //console.log(IETester());//不传参数返回当前IE版本，如果不是IE内核浏览器，返回false
        if (IETester() == 9.0) {
            //window.location.href = 'iepoint/index.html';
        } else if (IETester() == 8.0 || IETester() == 7.0 || IETester() == 6.0 || IETester() == 5.0) {
            window.location.href = 'iepoint/index.html';
        }

        // 动态设置font-size
        (function () {
            var cw = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
            if (cw < 769) {
                document.getElementsByTagName("html")[0].style.fontSize = 20 * (cw / 375) + 'px';
            }
        })();
        //判断是否已登录
        if (!localStorage.getItem("headerName")) { //未登录
            alert('您还未登录，即将跳转到登录页!');
            window.location.href = 'login.html';
        }
    </script>
</head>

<body>
    <script>
        !(function (c, b, d, a) {
            c[a] || (c[a] = {});
            c[a].config = {
                pid: "b1gea23itb@5ad4b345f120f16",
                imgUrl: "https://arms-retcode.aliyuncs.com/r.png?"
            };
            with(b) with(body) with(insertBefore(createElement("script"), firstChild)) setAttribute("crossorigin",
                "", src = d)
        })(window, document, "https://retcode.alicdn.com/retcode/bl.js", "__bl");
    </script>
    <!-- ↑ 启用前端性能监控 ↑ -->
    <div id="article_rank" class="public-wap">
        <!-- 页面未加载完时的loading -->
        <div class="loading" :class="{'loading-close':loading}">
            <i class="el-icon-loading"></i>
        </div>
        <div id="header"></div>
        <!-- component -->
        <div class="main">
            <!-- component -->
            <div class="component">
                <!-- 二级菜单 -->
                <div class="second-menu">
                    <ul class="nav-column">
                        <li v-for="item in nav_column_list" :key="item.id" class="float-left" :class="{'nav_column_list_mini':nav_column_list_mini}">
                            <a :href="item.entryUrl">
                                <el-button type="primary" size="mini">{{item.entryName}}</el-button>
                            </a>
                        </li>
                    </ul>
                    <a href="javascript:void(0);" class="float-right question">
                        <i class="el-icon-question"></i>
                        <span>使用说明</span>
                    </a>
                </div>
                <!-- 表格主体 -->
                <div class="article_rank">
                    <!-- crumb -->
                    <div class="crumbs">
                        <ul>
                            <li class="float-left" v-for="item in crumbs" :key="item.id">
                                <a :href="item.url" class="float-left" :class="{'a-active':item.this_page}" v-cloak>{{item.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- menu -->
                    <div class="data-menu">
                        <span ref="data" v-for="(item,index) in data_display" :key="item.id" @click="data_switch($event,index)" :class="item.classCon?'span-active':''">{{item.name}}</span>
                        <i class="line" :style="{left:line_left,width:line_Width}"></i>
                    </div>
                    <!-- switch -->
                    <!-- 一键生成 -->
                    <div v-if="switch_control == 1" class="btn-container">
                        <el-button type="primary">一键生成首页</el-button>
                        <el-button type="primary">一键生成所有内容</el-button>
                        <el-button type="primary">一键生成所有栏目</el-button>
                        <el-button type="primary">一键生成所有单页</el-button>
                        <div class="btn-container">
                            <el-button type="primary">一键生成某时间段内容</el-button>
                            <el-date-picker v-model="time_slot" type="datetimerange" :picker-options="pickerOptions" range-separator="至" start-placeholder="开始时间"
                                end-placeholder="结束时间" align="right" @change="time_choose()">
                            </el-date-picker>
                        </div>
                        <div class="btn-container">
                            <el-button type="primary">一键生成ID端内容</el-button>
                            <el-input placeholder="请输入ID范围" v-model="id_map" clearable class="id-input"></el-input>
                            <span class="remarks">指定ID范围，例如：4-9,5000-6000</span>
                        </div>
                    </div>
                    <!-- 生成首页 -->
                    <div v-if="switch_control == 2" class="btn-container">
                        <span class="remarks2">选择首页模板</span>
                        <el-select v-model="selectModules" placeholder="选择首页模板" size="small" class="modules-input">
                            <el-option v-for="item in modules" :key="item.value" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                        <el-button type="primary" size="small" class="btn">生成首页</el-button>
                    </div>
                    <!-- 生成频道页 -->
                    <div v-if="switch_control == 3" class="btn-container">
                        <span class="remarks2">选择频道</span>
                        <el-select v-model="selectChannels" placeholder="选择频道" size="small" class="modules-input">
                            <el-option v-for="item in channels" :key="item.value" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                        <el-button type="primary" size="small" class="btn">生成频道页</el-button>
                    </div>
                    <!-- 生成栏目页 -->
                    <div v-if="switch_control == 4" class="btn-container">
                        <span class="remarks2">选择栏目</span>
                        <el-select v-model="selectColumns" placeholder="选择栏目" size="small" class="modules-input">
                            <el-option v-for="item in columns" :key="item.value" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                        <el-button type="primary" size="small" class="btn">生成栏目页</el-button>
                    </div>
                    <!-- 生成单页 -->
                    <div v-if="switch_control == 5" class="btn-container">
                        <span class="remarks2">选择单页</span>
                        <el-select v-model="selectSingelPages" placeholder="选择单页" size="small" class="modules-input">
                            <el-option v-for="item in singelPages" :key="item.value" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                        <el-button type="primary" size="small" class="btn">生成单页</el-button>
                    </div>
                    <!-- 生成内容页 -->
                    <div v-if="switch_control == 6" class="btn-container">
                        <span class="remarks2">选择栏目</span>
                        <el-select v-model="selectContentPages" placeholder="选择单页" size="small" class="modules-input">
                            <el-option v-for="item in contentPages" :key="item.value" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                        <el-button type="primary" size="small" class="btn">生成内容页</el-button>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div id="footer"></div>
    </div>
</body>
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/public.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/element.min.js"></script>
<script>
    var app = new Vue({
        el: '#article_rank',
        data: {
            //加载页面
            loading: true,
            //面包屑
            crumbs: [{
                    name: '工作台',
                    url: 'index.html',
                    this_page: true
                },
                {
                    name: '网页生成',
                    url: 'page_generation.html',
                    this_page: true
                },
                {
                    name: '一键生成',
                    url: 'javascript:void(0);',
                    this_page: false
                }
            ],
            //栏目列表
            nav_column_list: [],
            nav_column_list_mini: false,
            //数据导航
            data_display: [{
                    name: '一键生成',
                    classCon: true
                },
                {
                    name: '生成首页',
                    classCon: false
                },
                {
                    name: '生成频道页',
                    classCon: false
                },
                {
                    name: '生成栏目页',
                    classCon: false
                },
                {
                    name: '生成单页',
                    classCon: false
                },
                {
                    name: '生成内容页',
                    classCon: false
                }
            ],
            //line-left
            line_left: 0,
            line_Width: 72,
            //切换控制
            switch_control: 1,
            //时间段选择
            time_slot: [
                new Date().getTime() - 3600 * 1000,
                new Date()
            ],
            pickerOptions: {
                shortcuts: [{
                        text: '最近一小时',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000);
                            picker.$emit('pick', [start, end]);
                        }
                    },
                    {
                        text: '最近一天',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 1);
                            picker.$emit('pick', [start, end]);
                        }
                    },
                    {
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    },
                    {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    },
                ]
            },
            //ID范围
            id_map: '0-9',
            //选择首页模板
            modules: [{
                    value: 0,
                    label: '/template/school-blue/index.html'
                },
                {
                    value: 1,
                    label: '/template/school-blue/index-20.html'
                }
            ],
            selectModules: '/template/school-blue/index.html',
            //选择频道
            channels: [{
                    value: 0,
                    label: '新闻中心'
                },
                {
                    value: 1,
                    label: '图片中心'
                },
                {
                    value: 2,
                    label: '下载中心'
                }
            ],
            selectChannels: '新闻中心',
            //选择栏目
            columns: [{
                    value: 0,
                    label: '通知公告'
                },
                {
                    value: 1,
                    label: '活动预告'
                },
                {
                    value: 2,
                    label: '教师风采'
                }
            ],
            selectColumns: '通知公告',
            //选择单页
            singelPages: [{
                    value: 0,
                    label: '系部介绍'
                },
                {
                    value: 1,
                    label: '领导介绍'
                },
                {
                    value: 2,
                    label: '联系我们'
                }
            ],
            selectSingelPages: '系部介绍',
            //选择内容页
            contentPages: [{
                    value: 0,
                    label: '通知公告'
                },
                {
                    value: 1,
                    label: '最新新闻'
                },
                {
                    value: 2,
                    label: '活动预告'
                }
            ],
            selectContentPages: '通知公告'
        },
        mounted: function () {
            var that = this;
            //改变首页链接
            that.crumbs[0].url = localStorage.getItem('headerUrl');
            //获取栏目列表
            that.nav_column_list = JSON.parse(localStorage.getItem('nav_column_list'));
            //对大于11个时做处理防止显示错乱
            if (JSON.parse(localStorage.getItem('nav_column_list')).length > 11) {
                that.nav_column_list_mini = true;
            }
        },
        methods: {
            //切换
            data_switch: function (event, index) {
                var that = this;
                var url = null;
                for (var i = 0; i < that.data_display.length; i++) {
                    that.data_display[i].classCon = false;
                }
                if (index == 0) {
                    that.crumbs[2].name = '一键生成';
                } else if (index == 1) {
                    that.crumbs[2].name = '生成首页';
                } else if (index == 2) {
                    that.crumbs[2].name = '生成频道页';
                } else if (index == 3) {
                    that.crumbs[2].name = '生成栏目页';
                } else if (index == 4) {
                    that.crumbs[2].name = '生成单页';
                } else if (index == 5) {
                    that.crumbs[2].name = '生成内容页';
                }
                that.switch_control = index + 1;
                that.data_display[index].classCon = true;
                that.line_left = event.currentTarget.offsetLeft + 'px';
                that.line_Width = event.currentTarget.offsetWidth + 'px';
            },
            //时间日期选择
            time_choose: function () {
                var that = this;

                function date_filter(date, idx) {
                    var year = date[idx].getFullYear();
                    var month = date[idx].getMonth() + 1;
                    var day = date[idx].getDate();
                    var hour = date[idx].getHours();
                    var minute = date[idx].getMinutes();
                    var second = date[idx].getSeconds();
                    month < 10 ? (month = "0" + month) : month;
                    day < 10 ? (month = "0" + day) : day;
                    hour < 10 ? (hour = "0" + hour) : hour;
                    minute < 10 ? (minute = "0" + minute) : minute;
                    second < 10 ? (second = "0" + second) : second;
                    that.time_slot[idx] = year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' +
                        second;
                }
                date_filter(that.time_slot, 0);
                date_filter(that.time_slot, 1);
            }
        }
    })
</script>

</html>