<!DOCTYPE html>
<html>

<head lang="zh-CN">
    <title>搜索-站群管理系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link rel="stylesheet" href="css/element.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script>
        /*判断浏览器版本是否过低*/
        function IETester(userAgent) {
            var UA = userAgent || navigator.userAgent;
            if (/msie/i.test(UA)) {
                return UA.match(/msie (\d+\.\d+)/i)[1];
            } else if (~UA.toLowerCase().indexOf('trident') && ~UA.indexOf('rv')) {
                return UA.match(/rv:(\d+\.\d+)/)[1];
            }
            return false;
        }
        //console.log(IETester());//不传参数返回当前IE版本，如果不是IE内核浏览器，返回false
        if (IETester() == 9.0) {
            //window.location.href = 'iepoint/index.html';
        } else if (IETester() == 8.0 || IETester() == 7.0 || IETester() == 6.0 || IETester() == 5.0) {
            window.location.href = 'iepoint/index.html';
        }

        // 动态设置font-size
        (function () {
            var cw = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
            /* if (cw < 1921 && cw > 769) {
                //cw = 1920;
                document.getElementsByTagName("html")[0].style.fontSize = 20 * (cw / 960) + 'px';
            } */
            if (cw < 769) {
                document.getElementsByTagName("html")[0].style.fontSize = 20 * (cw / 375) + 'px';
            }
        })();
    </script>
</head>

<body>
    <script>
        !(function (c, b, d, a) {
            c[a] || (c[a] = {});
            c[a].config = {
                pid: "b1gea23itb@5ad4b345f120f16",
                imgUrl: "https://arms-retcode.aliyuncs.com/r.png?"
            };
            with(b) with(body) with(insertBefore(createElement("script"), firstChild)) setAttribute("crossorigin",
                "", src = d)
        })(window, document, "https://retcode.alicdn.com/retcode/bl.js", "__bl");
    </script>
    <!-- ↑ 启用前端性能监控 ↑ -->
    <div id="search" class="public-wap">
        <!-- 页面未加载完时的loading -->
        <div class="loading" :class="{'loading-close':loading}">
            <i class="el-icon-loading"></i>
        </div>
        <!-- header -->
        <div id="header" class="search_header">
            <!-- nav -->
            <div id="nav" class="search-nav">
                <div class="nav-container">
                    <div class="nav-logo float-left">
                        <a href="index.html" class="header-url">
                            <div class="logo-rotate float-left">
                                <i class="iconfont icon-logo"></i>
                            </div>
                            <i class="iconfont icon-qihuankeji"></i>
                        </a>
                    </div>
                    <div class="nav-search float-right">
                        <div class="search-switch">
                            <span class="float-left" :class="{'span-active':search.source}" @click="search_switch()">站 群</span>
                            <span class="float-left" :class="{'span-active':!search.source}" @click="search_switch()">学术共享平台</span>
                        </div>
                        <el-input placeholder="请输入关键字" v-model="search.keyword" class="input-with-select news-search float-left" @keyup.enter.native="articleSearch()">
                            <el-button slot="append" icon="el-icon-search" @click="articleSearch()"></el-button>
                        </el-input>
                        <el-radio-group v-model="search.option" class="float-left">
                            <el-radio :label="0">全文搜索</el-radio>
                            <el-radio :label="1">标题搜索</el-radio>
                        </el-radio-group>
                    </div>
                </div>
            </div>
            <!-- quick nav -->
            <div id="quick-nav">
                <div class="quick-container">
                    <ul>
                        <li class="float-left">
                            <a href="rank.html" class="underline-hover">站点排行榜</a>
                        </li>
                        <li class="float-left">
                            <a href="javascript:void(0);" target="_blank" class="underline-hover">学院官网</a>
                        </li>
                        <li class="float-left">
                            <a href="login.html" target="_blank" class="underline-hover">后台登录</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="component">
                <!-- search info -->
                <div class="search-info">
                    <span>找到【</span>
                    <span>{{search_res.keywords}}</span>
                    <span>】相关的结果约</span>
                    <span>{{search_res.count}}</span>
                    <span>条，用时</span>
                    <span>{{search_res.time}}</span>
                    <span>秒</span>
                </div>
                <!-- search value -->
                <div class="search-body">
                    <div class="search-list float-left">
                        <ul>
                            <li v-for="item in search_res.result" :key="item.id">
                                <a :href="item.url">
                                    <span v-html="item.title" class="search-title"></span>
                                    <span class="search-form">[{{item.form}}]</span>
                                </a>
                                <p class="search-content">{{item.content}}</p>
                                <span class="search-date">{{item.date}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="search-filter float-right">
                        <p class="filter-title">发表时间</p>
                        <ul class="filter-date">
                            <li v-for="(item,index) in dateList" :key="item.id" @click="filter_date(index)" :class="item.class?'li-active':''">{{item.name}}</li>
                        </ul>
                        <p class="filter-title">按站点搜索</p>
                        <el-select v-model="search.site" placeholder="输入站点快速搜索" size="mini" class="filter-site" filterable>
                            <el-option v-for="item in siteList" :key="item.value" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                    </div>
                </div>
                <!-- 分页 -->
                <div class="paging">
                    <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPaging.currentPage"
                        :page-sizes="currentPaging.pageSizes" :page-size="currentPaging.pageSize" layout="total, sizes, prev, pager, next, jumper"
                        :total="currentPaging.totals">
                    </el-pagination>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div id="footer">
            <div class="footer-container">
                <p>中国美术学院版权所有 技术支持：启焕科技</p>
            </div>
        </div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/element.min.js"></script>
<script>
    var app = new Vue({
        el: '#search',
        data: {
            loading: true,
            //搜索选项
            search: {
                keyword: '',
                option: 0, //全局/标题
                source: true, //切换搜索‘站群’和‘共享平台’
                date: 0, //天/周/月筛选
                site: '' //站点筛选
            },
            //时间段
            dateList: [{
                    name: '1天内',
                    class: false
                },
                {
                    name: '1周内',
                    class: false
                },
                {
                    name: '1月内',
                    class: false
                },
                {
                    name: '更早',
                    class: false
                }
            ],
            //站点列表
            siteList: [{
                    value: 0,
                    label: '全部站点'
                },
                {
                    value: 1,
                    label: '中国画与书法艺术学院'
                },
                {
                    value: 2,
                    label: '绘画艺术学院'
                },
                {
                    value: 3,
                    label: '雕塑与公共艺术学院'
                },
                {
                    value: 4,
                    label: '跨媒体艺术学院'
                },
                {
                    value: 5,
                    label: '设计艺术学院'
                },
                {
                    value: 6,
                    label: '手工艺术学院'
                },
                {
                    value: 7,
                    label: '影视与动画艺术学院'
                },
                {
                    value: 8,
                    label: '建筑艺术学院'
                },
                {
                    value: 9,
                    label: '艺术人文学院'
                },
                {
                    value: 10,
                    label: '艺术管理与教育学'
                },
                {
                    value: 11,
                    label: '上海设计学院'
                },
                {
                    value: 12,
                    label: '国际教育学院'
                },
                {
                    value: 13,
                    label: '中德学院'
                },
                {
                    value: 14,
                    label: '继续教育学院'
                },
                {
                    value: 15,
                    label: '专业基础教学部'
                },
                {
                    value: 16,
                    label: '社会科学教学部'
                },
                {
                    value: 17,
                    label: '公共体育部'
                },
                {
                    value: 18,
                    label: '实验教学管理部'
                }
            ],
            //搜索结果
            search_res: {
                keywords: '',
                count: 0,
                time: 0,
                result: []
            },
            //分页
            currentPaging: {
                currentPage: 1,
                pageSize: 10,
                pageSizes: [10, 50, 100],
                totals: 0
            },
        },
        watch: {
            //分页
            total: function (newVal, oldVal) {
                console.log(newVal)
            },
        },
        mounted: function () {
            var that = this;
            that.search.keyword = window.localStorage.getItem("search_keyword");
            that.articleSearch();
        },
        methods: {
            //新闻检索
            articleSearch() {
                var startTime = new Date().getTime() / 1000;
                var endTime = null;
                var that = this;
                axios({
                    method: "get",
                    url: "./public/search.json",
                    data: {
                        keyword: that.search.keyword,
                        option: that.search.option,
                        source: that.search.source ? '站群' : '学术共享平台',
                        date: that.search.date,
                        site: that.search.site
                    },
                    //格式化
                    transformRequest: [
                        function (data) {
                            var ret = "";
                            for (var i = 0; i < data.length; i++) {
                                ret +=
                                    encodeURIComponent(it) +
                                    "=" +
                                    encodeURIComponent(data[it]) +
                                    "&";
                            }
                            ret = ret.slice(0, -1); // 去掉最后的空行
                            return ret;
                        }
                    ],
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded"
                    }
                }).then(function (response) {
                    endTime = new Date().getTime() / 1000;
                    that.search_res.keywords = that.search.keyword; //关键字
                    that.search_res.time = parseFloat((endTime - startTime).toFixed(3)); //搜索时间
                    that.search_res.count = response.data.count; //总条数
                    that.search_res.result = response.data.result; //搜索结果
                    that.currentPaging.totals = response.data.count; //分页
                }).catch(function (error) {
                    console.log(error);
                });
            },
            //搜索切换
            search_switch() {
                this.search.source = !this.search.source;
            },
            //筛选时间
            filter_date(index) {
                var that = this;
                for (var i = 0; i < that.dateList.length; i++) {
                    that.dateList[i].class = false;
                }
                this.dateList[index].class = true;
                this.search.date = (index + 1);
            },
            //分页
            handleSizeChange(val) {
                this.currentPaging.pageSize = val; // 设置每页显示的条数
            },
            handleCurrentChange(val) {
                this.currentPaging.currentPage = val; // 设置当前页
            }
        }
    })
</script>

</html>