<!DOCTYPE html>

<html>

<head lang="zh-CN">
    <title>系统管理员-站群管理系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <link href="css/element.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script>
        /*判断浏览器版本是否过低*/
        function IETester(userAgent) {
            var UA = userAgent || navigator.userAgent;
            if (/msie/i.test(UA)) {
                return UA.match(/msie (\d+\.\d+)/i)[1];
            } else if (~UA.toLowerCase().indexOf('trident') && ~UA.indexOf('rv')) {
                return UA.match(/rv:(\d+\.\d+)/)[1];
            }
            return false;
        }
        //console.log(IETester());//不传参数返回当前IE版本，如果不是IE内核浏览器，返回false
        if (IETester() == 9.0) {
            //window.location.href = 'iepoint/index.html';
        } else if (IETester() == 8.0 || IETester() == 7.0 || IETester() == 6.0 || IETester() == 5.0) {
            window.location.href = 'iepoint/index.html';
        }

        // 动态设置font-size
        (function () {
            var cw = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
            if (cw < 769) {
                document.getElementsByTagName("html")[0].style.fontSize = 20 * (cw / 375) + 'px';
            }
        })();
        //判断是否已登录
        if (!localStorage.getItem("headerName")) { //未登录
            alert('您还未登录，即将跳转到登录页!');
            window.location.href = 'login.html';
        }
    </script>
</head>
<!-- 你的浏览器目前处于放大状态，会导致页面显示不正常，你可以键盘按“ctrl+数字0”组合键恢复初始状态。 -->

<body>
    <div id="system_administrator" class="public-wap">
        <!-- 页面未加载完时的loading -->
        <div class="loading" :class="{'loading-close':loading}">
            <i class="el-icon-loading"></i>
        </div>
        <!-- header -->
        <div id="header"></div>
        <!-- main -->
        <div class="main">
            <!-- component -->
            <div class="component">
                <!-- side bar -->
                <div id="sideBar" class="float-left"></div>
                <!-- index -->
                <div class="system-main float-right">
                    <!-- crumb -->
                    <div class="crumbs">
                        <ul>
                            <li class="float-left" v-for="item in crumbs" :key="item.id">
                                <a :href="item.url" class="float-left" :class="{'a-active':item.this_page}" v-cloak>{{item.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- 快捷导航 -->
                    <div class="quick-navigation">
                        <ul>
                            <li v-for="item in quick_navigation" class="float-left">
                                <a :href="item.url">
                                    <i class="iconfont" :class="item.icon"></i>
                                    <p>{{item.name}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 数据展示 -->
                    <div class="data-display">
                        <!-- menu -->
                        <div class="data-menu">
                            <span ref="data" v-for="(item,index) in data_display" :key="item.id" @click="data_switch($event,index)" :class="item.classCon?'span-active':''">{{item.name}}</span>
                            <i class="line" :style="{left:line_left,width:line_Width}"></i>
                        </div>
                        <!-- 展示容器 -->
                        <div class="data-container">
                            <div v-show="switch_control == 1">
                                <!-- 数据总览 -->
                                <div class="data-all">
                                    <ul>
                                        <li v-for="item in data_all" :key="item.id" class="float-left">
                                            <span>{{item.count}}</span>
                                            <p>{{item.name}}</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- echarts 图表 -->
                                <div class="echarts-container">
                                    <div class="float-left echarts-left">
                                        <div class="echarts float-left">
                                            <p>当日数据</p>
                                            <div id="echarts-1" style="width: 225px;height:140px;padding-left:5px;"></div>
                                        </div>
                                        <div class="echarts float-left">
                                            <p>本周数据</p>
                                            <div id="echarts-2" style="width: 225px;height:140px;padding-left:5px;"></div>
                                        </div>
                                        <div class="echarts float-left">
                                            <p>本月数据</p>
                                            <div id="echarts-3" style="width: 225px;height:140px;padding-left:5px;"></div>
                                        </div>
                                        <div class="echarts float-left">
                                            <p>年度数据</p>
                                            <div id="echarts-4" style="width: 225px;height:140px;padding-left:5px;"></div>
                                        </div>
                                    </div>
                                    <div class="float-right echarts-right">
                                        <div class="echarts-title">
                                            <el-date-picker size="mini" v-model="echarts_filter" type="daterange" align="right" unlink-panels range-separator="至" start-placeholder="开始日期"
                                                end-placeholder="结束日期" :picker-options="pickerOptions" class="float-left">
                                            </el-date-picker>
                                            <el-select v-model="earchts_filter_list_value" clearable placeholder="请选择" size="mini" class="float-right">
                                                <el-option v-for="item in earchts_filter_list" :key="item.value" :label="item.label" :value="item.value"></el-option>
                                            </el-select>
                                        </div>
                                        <div id="echarts-5" style="width: 450px;height:300px;padding-left:12px;"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 访问量排行 -->
                            <div v-show="switch_control == 2">
                                <div class="rank-title">
                                    <span>备注：数据统计时间有延迟，每10分钟数据自动刷新一次。</span>
                                    <el-button type="primary" size="mini">数据刷新</el-button>
                                </div>
                                <el-table :data="accessRankings" stripe size="small" v-loading="tableLoading">
                                    <el-table-column prop="uid" label="序号" width="50"></el-table-column>
                                    <el-table-column prop="title" label="网站名称" width="300"></el-table-column>
                                    <el-table-column prop="today" label="本月访问量"></el-table-column>
                                    <el-table-column prop="thisMonth" label="今日访问量"></el-table-column>
                                    <el-table-column prop="lastMonth" label="上月访问量"></el-table-column>
                                    <el-table-column prop="thisYear" label="今年访问量"></el-table-column>
                                    <el-table-column prop="count" label="总访问量"></el-table-column>
                                </el-table>
                            </div>
                            <!-- 文章数量排行 -->
                            <div v-show="switch_control == 3">
                                <div class="rank-title">
                                    <span>备注：数据统计时间有延迟，每10分钟数据自动刷新一次。</span>
                                    <el-button type="primary" size="mini">数据刷新</el-button>
                                </div>
                                <el-table :data="countRankings" stripe size="small" v-loading="tableLoading2">
                                    <el-table-column prop="uid" label="序号" width="50"></el-table-column>
                                    <el-table-column prop="title" label="网站名称" width="300"></el-table-column>
                                    <el-table-column prop="today" label="今日发布"></el-table-column>
                                    <el-table-column prop="thisMonth" label="本月发布"></el-table-column>
                                    <el-table-column prop="lastMonth" label="上月发布"></el-table-column>
                                    <el-table-column prop="thisYear" label="今年发布"></el-table-column>
                                    <el-table-column prop="count" label="总文章数量"></el-table-column>
                                </el-table>
                            </div>
                            <!-- 文章访问排行 -->
                            <div v-show="switch_control == 4">
                                <div class="rank-title">
                                    <span>备注：数据统计时间有延迟，每10分钟数据自动刷新一次。</span>
                                    <el-button type="primary" size="mini">数据刷新</el-button>
                                </div>
                                <el-table :data="lookRankings" stripe size="small" v-loading="tableLoading3">
                                    <el-table-column prop="uid" label="排行" width="50"></el-table-column>
                                    <el-table-column prop="title" label="标题" width="300"></el-table-column>
                                    <el-table-column prop="count" label="浏览次数"></el-table-column>
                                    <el-table-column prop="author" label="作者"></el-table-column>
                                    <el-table-column prop="column" label="栏目"></el-table-column>
                                    <el-table-column prop="date" label="创建日期"></el-table-column>
                                    <el-table-column prop="site" label="所属站点"></el-table-column>
                                </el-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div id="footer"></div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/element.min.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/public.js"></script>
<script>
    var app = new Vue({
        el: '#system_administrator',
        data: {
            //加载页面
            loading: true,
            tableLoading: true,
            tableLoading2: true,
            tableLoading3: true,
            //面包屑
            crumbs: [{
                name: '工作台',
                url: 'index.html',
                this_page: true
            }],
            //快捷导航
            quick_navigation: [{
                    name: '权限管理',
                    url: 'javascript:void(0);',
                    icon: 'icon-quanxianguanli'
                },
                {
                    name: '附件管理',
                    url: 'javascript:void(0);',
                    icon: 'icon-fujianguanli'
                },
                {
                    name: '系统日志',
                    url: 'javascript:void(0);',
                    icon: 'icon-xitongrizhi'
                },
                {
                    name: '数据备份',
                    url: 'javascript:void(0);',
                    icon: 'icon-shujubeifen'
                },
                {
                    name: '查看站点内容',
                    url: 'javascript:void(0);',
                    icon: 'icon-chakanzhandianneirong'
                },
            ],
            //数据导航
            data_display: [{
                    name: '数据概况',
                    classCon: true
                },
                {
                    name: '访问量排行',
                    classCon: false
                },
                {
                    name: '文章数量排行',
                    classCon: false
                },
                {
                    name: '文章访问排行',
                    classCon: false
                }
            ],
            //line-left
            line_left: 0,
            line_Width: 72,
            //数据总览
            data_all: [{
                    name: '站点数量(个)',
                    count: 38
                },
                {
                    name: '文章总数(篇)',
                    count: 54896
                },
                {
                    name: '栏目总数(个)',
                    count: 470
                },
                {
                    name: '附件总数(个)',
                    count: 48949
                },
                {
                    name: '管理员数量(位)',
                    count: 15
                }
            ],
            //切换控制
            switch_control: 1,
            //当日数据
            today_data: {},
            //本周数据
            week_data: {},
            //本月数据
            month_data: {},
            //年度数据
            year_data: {},
            //筛选数据
            choose_data: {},
            //按日期筛选
            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近一个月',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近三个月',
                    onClick(picker) {
                        const end = new Date();
                        const start = new Date();
                        start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                        picker.$emit('pick', [start, end]);
                    }
                }]
            },
            echarts_filter: [
                '2018-01-15', '2018-01-31'
            ],
            //选择栏目
            earchts_filter_list: [{
                    value: 0,
                    label: '全部'
                },
                {
                    value: 1,
                    label: '学院官网'
                },
                {
                    value: 2,
                    label: '学院官网英文版'
                },
                {
                    value: 3,
                    label: '艺术与设计学院'
                },
                {
                    value: 4,
                    label: '新闻与传播学院'
                },
                {
                    value: 5,
                    label: '公共管理学院'
                }
            ],
            earchts_filter_list_value: '全部',
            //访问排行榜
            accessRankings: [],
            //数量排行榜
            countRankings: [],
            //访问量排行榜
            lookRankings: []
        },
        methods: {
            //切换
            data_switch: function (event, index) {
                var that = this;
                var url = null;
                for (var i = 0; i < that.data_display.length; i++) {
                    that.data_display[i].classCon = false;
                }
                that.switch_control = index + 1;
                if (index == 1) {
                    url = "./public/accessRankings.json";
                } else if (index == 2) {
                    url = "./public/countRankings.json";
                } else if (index == 3) {
                    url = "./public/lookRankings.json";
                }
                axios({
                    method: "get",
                    url: url,
                }).then(function (response) {
                    if (index == 1) {
                        that.accessRankings = response.data;
                        setTimeout(function () {
                            that.tableLoading = false;
                        }, 300)
                    } else if (index == 2) {
                        that.countRankings = response.data;
                        setTimeout(function () {
                            that.tableLoading2 = false;
                        }, 300)
                    } else if (index == 3) {
                        that.lookRankings = response.data;
                        setTimeout(function () {
                            that.tableLoading3 = false;
                        }, 300)
                    }
                }).catch(function (error) {
                    console.log(error);
                });
                that.data_display[index].classCon = true;
                that.line_left = event.currentTarget.offsetLeft + 'px';
                that.line_Width = event.currentTarget.offsetWidth + 'px';
            },
            //canvas
            echarts() {
                var that = this;
                var Charts = function (dataList, name, dataInfo, myChart, posi) {
                    // 指定图表的配置项和数据
                    var option = {
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'cross',
                                label: {
                                    backgroundColor: '#00a0e9'
                                }
                            }
                        },
                        toolbox: { //将图表保存为图片
                            feature: {
                                saveAsImage: {}
                            }
                        },
                        grid: posi,
                        xAxis: [{
                            type: 'category',
                            boundaryGap: true,
                            data: dataList
                        }],
                        yAxis: [{
                            type: 'value'
                        }],
                        series: [{
                            name: name,
                            type: 'line',
                            stack: '总量',
                            itemStyle: {
                                normal: {
                                    color: 'rgba(84,195,241,0.5)'
                                }
                            },
                            label: {
                                normal: {
                                    show: false,
                                    position: 'top'
                                }
                            },
                            areaStyle: {
                                normal: {}
                            },
                            data: dataInfo
                        }]
                    };
                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                }
                // 今日数据
                var myChart1 = echarts.init(document.getElementById('echarts-1'));
                Charts(that.today_data.filter_info, '当日数据', that.today_data.show_info, myChart1, {
                    left: '0',
                    right: '0',
                    bottom: '0',
                    top: '10%',
                    containLabel: true
                });
                var myChart2 = echarts.init(document.getElementById('echarts-2'));
                Charts(that.week_data.filter_info, '本周数据', that.week_data.show_info, myChart2, {
                    left: '0',
                    right: '0',
                    bottom: '0',
                    top: '10%',
                    containLabel: true
                });
                var myChart3 = echarts.init(document.getElementById('echarts-3'));
                Charts(that.month_data.filter_info, '本月数据', that.month_data.show_info, myChart3, {
                    left: '0',
                    right: '0',
                    bottom: '0',
                    top: '10%',
                    containLabel: true
                });
                var myChart4 = echarts.init(document.getElementById('echarts-4'));
                Charts(that.year_data.filter_info, '年度数据', that.year_data.show_info, myChart4, {
                    left: '0',
                    right: '0',
                    bottom: '0',
                    top: '10%',
                    containLabel: true
                });
                var myChart5 = echarts.init(document.getElementById('echarts-5'));
                Charts(that.choose_data.filter_info, '年度数据', that.choose_data.show_info, myChart5, {
                    left: '0',
                    right: '0',
                    bottom: '0',
                    top: '10%',
                    containLabel: true
                });
            }
        },
        mounted: function () {
            var that = this;
            //获取canvas数据并调用
            axios({
                method: "get",
                url: "./public/echart.json",
            }).then(function (response) {
                var res = response.data;
                that.today_data = res.today_data;
                that.week_data = res.week_data;
                that.month_data = res.month_data;
                that.year_data = res.year_data;
                that.choose_data = res.choose_data;
                that.echarts();
            }).catch(function (error) {
                console.log(error);
            });
            //重置侧边菜单定位
            window.sessionStorage.setItem("liIndex", 0);
            window.sessionStorage.setItem("aIndex", null);
        }

    })
</script>

</html>