<!DOCTYPE html>

<html>

<head lang="zh-CN">
    <title>启焕科技-站群管理系统</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="applicable-device" content="pc,mobile">
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="stylesheet" href="iconfont/iconfont.css">
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/element.min.css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script>
        /*判断浏览器版本是否过低*/
        function IETester(userAgent) {
            var UA = userAgent || navigator.userAgent;
            if (/msie/i.test(UA)) {
                return UA.match(/msie (\d+\.\d+)/i)[1];
            } else if (~UA.toLowerCase().indexOf('trident') && ~UA.indexOf('rv')) {
                return UA.match(/rv:(\d+\.\d+)/)[1];
            }
            return false;
        }
        //console.log(IETester());//不传参数返回当前IE版本，如果不是IE内核浏览器，返回false
        if (IETester() == 9.0) {
            //window.location.href = 'iepoint/index.html';
        } else if (IETester() == 8.0 || IETester() == 7.0 || IETester() == 6.0 || IETester() == 5.0) {
            window.location.href = 'iepoint/index.html';
        }

        // 动态设置font-size
        (function () {
            var cw = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
            if (cw < 769) {
                document.getElementsByTagName("html")[0].style.fontSize = 20 * (cw / 375) + 'px';
            }
        })();
    </script>
</head>

<body>
    <div id="system_administrator" class="public-wap">
        <!-- 页面未加载完时的loading -->
        <div class="loading" :class="{'loading-close':loading}">
            <i class="el-icon-loading"></i>
        </div>
        <!-- header -->
        <div id="header"></div>
        <!-- main -->
        <div class="main">
            <!-- component -->
            <div class="component">
                <!-- side bar -->
                <div id="sideBar" class="float-left"></div>
                <!-- index -->
                <div class="system-main float-right">
                    <!-- crumb -->
                    <div class="crumbs">
                        <ul>
                            <li class="float-left" v-for="item in crumbs">
                                <a :href="item.url" class="float-left" :class="{'a-active':item.this_page}" v-cloak>{{item.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- 快捷导航 -->
                    <div class="quick-navigation">
                        <ul>
                            <li v-for="item in quick_navigation" class="float-left">
                                <a :href="item.url">
                                    <i class="iconfont" :class="item.icon"></i>
                                    <p>{{item.name}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 数据展示 -->
                    <div class="data-display">
                        <!-- menu -->
                        <div class="data-menu">
                            <span ref="data" v-for="(item,index) in data_display" @click="data_switch($event,index)" :class="item.classCon?'span-active':''">{{item.name}}</span>
                            <i class="line"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div id="footer"></div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/axios.min.js"></script>
<script src="js/element.min.js"></script>
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/public.js"></script>
<script>
    var app = new Vue({
        el: '#system_administrator',
        data: {
            //加载页面
            loading: true,
            //面包屑
            crumbs: [{
                name: '工作台',
                url: 'index.html',
                this_page: true
            }],
            //快捷导航
            quick_navigation: [{
                    name: '权限管理',
                    url: 'javascript:void(0);',
                    icon: 'icon-quanxianguanli'
                },
                {
                    name: '附件管理',
                    url: 'javascript:void(0);',
                    icon: 'icon-fujianguanli'
                },
                {
                    name: '系统日志',
                    url: 'javascript:void(0);',
                    icon: 'icon-xitongrizhi'
                },
                {
                    name: '数据备份',
                    url: 'javascript:void(0);',
                    icon: 'icon-shujubeifen'
                },
                {
                    name: '查看站点内容',
                    url: 'javascript:void(0);',
                    icon: 'icon-chakanzhandianneirong'
                },
            ],
            //数据导航
            data_display: [{
                    name: '数据概况',
                    classCon: true
                },
                {
                    name: '访问量排行',
                    classCon: false
                },
                {
                    name: '文章数量排行',
                    classCon: false
                },
                {
                    name: '文章访问排行',
                    classCon: false
                }
            ]
        },
        methods: {
            data_switch: function (event, index) {
                var index = index;
                var that = this;
                that.data_display.forEach(function (item, ind) {
                    that.data_display[index].classCon = false;
                    if (ind == index) {
                        that.data_display[index].classCon = false;
                    }
                })
            }
        }
    })
</script>
<script>
    //重置侧边菜单定位
    window.localStorage.setItem("liIndex", 0);
    window.localStorage.setItem("aIndex", null);
</script>

</html>